MEMO

.font-size
xx-small  : minuscule ;
x-small  : très petit ;
small  : petit ;
medium  : moyen ;
large  : grand ;
x-large  : très grand ;
xx-large  : euh… gigantesque.

.font-style
italic  : le texte sera mis en italique ;
oblique  : le texte sera passé en oblique (les lettres sont penchées, le résultat est légèrement différent de l'italique proprement dit) ;
normal  : le texte sera normal (par défaut). Cela vous permet d'annuler une mise en italique.

.font-weight
bold  : le texte sera en gras ;
normal  : le texte sera écrit normalement (par défaut).

.text-decoration
underline  : souligné ;
line-through  : barré ;
overline  : ligne au-dessus ;
none  : normal (par défaut).

.text align
left  : le texte sera aligné à gauche (c'est le réglage par défaut) ;
center  : le texte sera centré ;
right  : le texte sera aligné à droite ;
justify  : le texte sera « justifié ». Justifier le texte permet de faire en sorte qu'il prenne toute la largeur possible sans laisser d'espace blanc à la fin des lignes. Les textes des journaux, par exemple, sont toujours justifiés.

.border
none  : pas de bordure (par défaut) ;
solid  : un trait simple ;
dotted  : pointillés ;
dashed  : tirets ;
double  : bordure double ;
groove  : en relief ;
ridge  : autre effet relief ;
inset  : effet 3D global enfoncé ;
outset  : effet 3D global surélevé.

h1 { color: #666;display:inline-block; margin:0;text-transform:uppercase; }
h1:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
h1:hover:after { transform: scaleX(1); }
h1.fromRight:after{ transform-origin:100% 50%; }
h1.fromLeft:after{  transform-origin:  0% 50%; }

<h1 class="fromCenter">Expand from center</h1><br/>
<h1 class="fromRight">Expand from right</h1><br/>
<h1 class="fromLeft">Expand from left</h1>
